body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    font-size: 36px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav li {
    margin: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #66CCFF;
}

main {
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.2s;
    height: 100vh; /* Set the height to 100% of the viewport height */
}

section:hover {
    transform: scale(1.05);
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
}
